doctype html
html(lang='en' data-ng-app='psychicDoodle')
  head
    title psychic-doodle
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body(ng-controller="AppCtrl as app")

    md-toolbar.menu-bar
      div.md-toolbar-tools
        span(flex)
        md-button.menu-button.md-icon-button(ng-click="app.close()")
          md-icon close

        md-button.menu-button.md-icon-button(ng-click="app.minimize()")
          md-icon minus
    div(data-ui-view)

    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
